.container.profilePage
  .profilePage_user
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          #{current_account.display_name}（#{current_account.birthday}・#{current_account.gender}）
        .profilePage_account_follow_actionButton
          - if account == current_account
            = link_to 'Edit', edit_profile_path
          - else
            - if current_account&.has_followed?(account)
              = link_to 'Unfollow', account_unfollows_path(account), data: {method: 'post'}
            - else
              = link_to 'Follow', account_follows_path(account), data: {method: 'post'}
      .profilePage_user_introduction
        初めまして！
        = current_account.profile&.introduction
      .profilePage_user_introduction
      - current_account.posts.each do |post|
        = render 'commons/post', post: post