.post_list
.post_list_title 投稿詳細
.post_list_card
- if account_signed_in? && current_account.has_written?(@post)
  .post_detail_actions
    .dropdown1
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_post_path(@post)
        = link_to '削除する', post_path(@post), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .card_title_post
    = @post.name
  .card_title_info2_post
    = @post.content
  .post_list_top
    コメント一覧
    - @comments.each do |comment|
      .post_comment
        %p4= comment.content